#body1 {
    background-image: url('img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#h1 {
  position: relative; 
  bottom: 47px;
  font-size: 12vh;
  text-align: center;
  margin-top: 45vh;
  font-family: IvyMode;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

/* Text Bild */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.audio {
  width: 67%;
  position: fixed;
  top: 20vh;
  left: 16.5vw;
  background-color: #1d1d1dec;
  border-top-right-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  border-top-left-radius: 3.5px;
}

#text {
    width: 67%;
    position: fixed;
    top: 20vh;
    left: 16.5vw;
    background-color: #1d1d1dec;
    border-top-right-radius: 3.5px;
    border-bottom-left-radius: 3.5px;
    border-bottom-right-radius: 3.5px;
    border-top-left-radius: 3.5px;
}

#hintergrund {
  margin: 45vh;
  margin-top: 45vh;
  background-color: rgb(255, 255, 255);
  margin-left: 18vw;
  height: 3vh;
}

#button {
    position: absolute;
    top: 5vh;
    left: 16vw;
    font-size:  30px;
    cursor:pointer
}

.button3 {
    border: 2px solid;
    border-top-right-radius: 3.5px;
    border-bottom-left-radius: 3.5px;
    border-bottom-right-radius: 3.5px;
    border-top-left-radius: 3.5px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Avenir,sans-serif;
    border-color: rgb(255, 255, 255);
    position: absolute;
    top: 3.5vh;
    left: 74vw;
    cursor:pointer;
}

.button4 {
  border: 2px solid;
  border-top-right-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  border-top-left-radius: 3.5px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Times New Roman', serif;
  border-color: rgba(255, 255, 255, 0.897);
  position: absolute;
  top: 64.5vh;
  left: 43vw;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.849);
}

#line {
  position: relative;
  top: 10vh;
  width: 69.5%;
  border-color: rgb(22, 17, 17);
  background-color: rgb(22, 17, 17);
}

#line2 {
  position: relative;
  top: 10vh;
  width: 69.5%;
  border-color: rgb(226, 226, 226);
  background-color: rgb(226, 226, 226);
}

#img {
   margin-left: 44vw;
   width: 7vw;
   position: absolute;
   top: 3vh;
}

.nav1 {
  opacity: 0;
  margin-left: 20vw;
  width: 33vw;
  position: absolute;
  top: 3vh;
  
}

.link1:hover .nav1{
  opacity: 1;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 40vw;
  background-color: #1d1d1d;;
  background-color: #1d1d1dfd;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20.5vh;
  left: 19vw;
  width: 80%;
  font-size: 3rem;
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff9f9;
  display: block;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  transition: all .4s ease,color 0s ease;
}

.overlay a:hover, .overlay a:focus {
  color: #b89535;

}

.overlay .closebtn {
  position: absolute;
  top: 5vh;
  left: 15.5vw;
  font-size: 6vh;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #727171;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 54vw;
}

input[type=submit]:hover {
  background-color: #c5c2c2e0;
}

.container {
  border-radius: 5px;
  background-color: #000000ce;
  position:relative ;
  top: 15vh;
  width: 60%;
  left: 20vw;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 2vh;
}

.col-25 {
  float: center;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: center;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 80%;
    margin-top: 0;

  }
}


/* Slideshow */

img {
  vertical-align: middle;
}

.mySlides {
  display: none;
}

#block {
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 33vh;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.button2 {
  
  font-family: Avenir,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  border-color: rgb(22, 17, 17);
  position: absolute;
  top: 3.5vh;
  left: 74vw;
  
}



/* Book now button */

@import "bourbon";


.btn-cont {
  text-align: center;
  cursor:pointer;
}
  .btn {
    position: relative;
    right: 1vw;
    left: 28vw;
    top: 3.5vh;
    padding: 15px 35px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;   
  }   

    .btn:hover {
      border: none;
    }
    .btn:hover .line-1 {
        animation: move1 1500ms infinite ease;
      }
      
    .btn:hover .line-2 {
        animation: move2 1500ms infinite ease;
      }
      
    .btn:hover .line-3 {
        animation: move3 1500ms infinite ease;
      }
      
    .btn:hover .line-4 {
        animation: move4 1500ms infinite ease;
      }
    
    
  
  .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: black;
    left: 0;
    bottom: 0;
  }
  .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: black;
    left: 0;
    top: 0;
  }
  .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: black;
    right: 0;
    top: 0;
  }
  .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: black;
    right: 0;
    bottom: 0;
  }


@keyframes move1 {
  0% {
    height: 100%; 
    bottom: 0;
  }
  54% {
    height: 0; 
    bottom: 100%;
  }
  55% {
    height: 0; 
    bottom: 0;
  }
  100% {
    height: 100%; 
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%; 
    left: 0;
  }
  100% {
    width: 0; 
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%; 
    top: 0;
  }
  54% {
    height: 0; 
    top: 100%;
  }
  55% {
    height: 0; 
    top: 0;
  }
  100% {
    height: 100%; 
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0; 
    right: 0;
  }
  55% {
    width: 100%; 
    right: 0;
  }
  100% {
    width: 0; 
    right: 100%;
  }
}
